
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(69, 118, 138);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}


input[type="text"] {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; 
}


button.Signin, button.SignUp {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    outline: none; 
}

button.Signin:hover, button.SignUp:hover {
    background-color: #0056b3;
}


a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}


a:hover {
    text-decoration: underline;
}
